<div style="text-align: center; margin: 1rem 0;">
    {% if page_obj.has_previous %} 현재 페이지에서 이전 페이지 여부 확인하는 객체 (있으면 이전 페이지로 넘어가는 링크 생성)
    <a href="{% url 'articleapp:list' %}?page={{page_obj.previous_page_number}}"
        class="btn btn-secondary rounded-pill">
        {{ page_obj.previous_page_number }}
    </a>
    {% endif %}
    <a href="{% url 'articleapp:list' %}?page={{page_obj.number}}" 현재 있는 링크로
    class="btn btn-secondary rounded-pill active">
        {{ page_obj.number }}
    </a>
    {% if page_obj.has_next %} 다음 페이지 있으면 다음 페이지로 향하는 숫자 생성
    <a href="{% url 'articleapp:list' %}?page={{page_obj.next_page_number}}"
    class="btn btn-secondary rounded-pill">
        {{ page_obj.next_page_number }}
    </a>
    {% endif %}
</div>